<div *ngIf="mostrarMensajeAlerta" class="botonPrimario">
  <div class="alert alert-danger" role="alert">
    {{mensajeAlertaEliminarPersona}}
  </div>
</div>
<div>
  <form class="border  p-3 form" [formGroup]="filtroForm">
    <div class="form-group">
      <label for="documento">Documento</label>
      <input validar type="text" id="documento"  class="form-control" formControlName="documento">
    </div>
  <button class="btn btn-primary botonPrimario" type="submit" (click)="filtrarDocumento()" >filtrar por documento</button>
  <button class="btn btn-danger botonSecundario" type="submit" (click)="eliminarFiltro()" >Eliminar filtro</button>

</form>
</div>
<p>Listado de personas</p>

<table class="table table-bordered table-striped" >
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Tipo de documento</th>
      <th scope="col">Documento</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Celular</th>
      <th scope="col">Email</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listaPersonas | async">
      <th scope="row">{{ item.id }}</th>
      <td>{{ item.tipoDocumento }}</td>
      <td>{{ item.documento }}</td>
      <td>{{ item.nombre }}</td>
      <td>{{ item.apellido }}</td>
      <td>{{ item.fechaNacimiento }}</td>
      <td>{{ item.celular }}</td>
      <td>{{ item.email }}</td>
      <td>
        <button type="button" class="btn btn-success cajaTexto" (click)= "actualizarPersona(item)">Actualizar
        </button>
        <button type="button" class="btn btn-danger" (click)="eliminarPersona(item.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
