<div class="abs-center">  
<form class="border  p-3 form" [formGroup]="personaForm">
    <div style="margin-bottom: 25px;">
        Registrar Persona
    </div>
    <div class="form-group">
        <label for="tipoDocumento">Seleccione el tipo de documento de identidad</label>
        <select validar class="form-control" id="tipoDocumento" formControlName="tipoDocumento">
          <option>C.C</option>
          <option>T.I</option>
          <option>NIT</option>
        </select>
      </div>
    <div class="form-group">
      <label for="documento">numero del documento</label>
      <input validar type="text" class="form-control" id="documento" formControlName="documento" placeholder="">
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input validar type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="">
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input validar type="text" class="form-control" id="apellido" formControlName="apellido" placeholder="">
    </div>
    <div class="form-group">
        <label  for="fechaNacimiento">Fecha de nacimiento</label>
        <input validar type="date" id="fechaNacimiento"  class="form-control"  [max]="fechaActualString" formControlName="fechaNacimiento">
    </div>
    <div class="form-group">
        <label for="celular">Celular</label>
        <input validar type="text" class="form-control" id="celular" formControlName="celular" placeholder="">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input validar type="email" class="form-control" id="email" aria-describedby="emailHelp" formControlName="email" placeholder="">
    </div>
    <div *ngIf="mostrarMensajeAlerta" style="margin-top: 25px;">
      <div class="alert alert-danger" role="alert">
        {{mensajeAlertaCita}}
      </div>
    </div>
    <div>
      <button style="margin-top: 25px;" class="btn btn-primary" type="button" id="buttonRegistrarPersona" (click)="registrarPersona()" >Registar Persona
      </button>
    </div>
  </form>
</div>